<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success" type="button" routerLink="/recipes/new" >
      New Recipe
    </button>
  </div>
</div>
<hr>
<div class="row" >
  <div class="col-xs-12">
    <div class="list-group">
      <a
        [routerLink]="['/recipes', recipe.id]"
        routerLinkActive="active"
        class="list-group-item"
        *ngFor="let recipe of recipes">
        <app-recipe-item [recipe]="recipe">
        </app-recipe-item>
      </a>
    </div>


  </div>
</div>
